<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bumbumapps.documentscannerfastest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:name="com.bumbumapps.documentscannerfastest.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CamScanner"
        android:usesCleartextTraffic="true">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name="com.bumbumapps.documentscannerfastest.activity.BaseActivity" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CamScanner"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/uCropStyle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.IDCardPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.CropDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.CurrentFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.SavedDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.DocumentEditorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.SavedEditDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.SavedDocumentPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.ImageToTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.GroupDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bumbumapps.documentscannerfastest.activity.PDFViewerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8444865753152507~2291016643" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>